html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans 3', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #141414
}
/* 
==================
Typography 
==================
*/

nav a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.ahero {
    text-decoration: none;
}

.date {
    text-transform: uppercase;
}

.blog-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.view-more {
    color: black;
}
.light {
    color:antiquewhite;
}

/* 
==================
Layout
==================
 */

 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding:0;
    margin:0px;
}

nav li {
    margin: 10px;
}

article, #feature {
    margin: 2em .5em;
}

footer {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 6em;
}

.logo {
    width: 1.2em;
    height: 1.2em;
    margin: .5em;
}

.navbar {
    display: flex;
    align-items: center;
}

.hero {
    display:flex;
    flex-direction: column;
    justify-content: end;
    background-image: url('./images/article-image-hero.png');
    background-color: black;
    background-size: cover;
    min-height: 70vh;
    padding: 1em;
}

.hero-para {
    max-width: 60vw;
}

#feature img {
    width: 100%;
}

.hero h1 {
    font-size: 2rem;
    margin: 0;
}

.title {
    margin:0px;
}

.date {
    margin-top: 0px;
    margin-bottom: 0;
}

.about-image {
    margin:1em;
}

.main-about {
    margin-bottom: 3em;
}

.blog-img {
    width:100%
}

.blog-title {
    margin: 0;
}

.blog-body {
    margin-top: 0;
}

.more {
    display: flex;
    justify-content: center;
}

.view-more {
    text-align: center;
    margin: 0 0 3em 0;
}

.recents h3 {
    text-align: center;
}

footer p {
    margin:0;
}


/* 
================
Media Selector 
================
*/

@media (min-width: 640px){

    #main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    article {
        width: 30%
    }
    .hero h1 {
        font-size: 2.5rem;
    }

}
@media (max-width: 639px) {
    .main-article:nth-child(n+4){
        display: none;
    }
    .date {
        font-size: .75rem
    }
}
