html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans 3', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* 
==================
Typography 
==================
*/

nav a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.date {
    text-transform: uppercase;
}

.light {
    color:antiquewhite;
}


/* 
==================
Layout
==================
 */

 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding:0;
    margin:0px;
}

nav li {
    margin: 10px;
}

.logo {
    width: 1.2em;
    height: 1.2em;
    margin: .5em;
}

.navbar {
    display: flex;
    align-items: center;
}
.hero h1 {
    font-size: 2rem;
    margin: 0;
}
.hero {
    display:flex;
    flex-direction: column;
    justify-content: end;
    background-image: url('./images/article-image-hero.png');
    background-color: black;
    background-size: cover;
    height: 40vh;
    min-height: 240px;
    padding: 1em;
}

.title {
    margin:0px;
}

.date {
    margin-top: 0px;
}